<h2 class="my-3">Upload file</h2>
<form action="/" method="POST" enctype="multipart/form-data">
  <div class="mb-3">
    <label for="file" class="form-label">Select a file</label>
    <input class="form-control" type="file" id="file" name="file" accept="image/png, image/gif, image/jpeg, application/pdf">
  </div>

  <p>
    <div><label for="language">Choose a language</label></div>
    <div>
      <select name="language" id="language" class="form-select">
        <option value="eng" selected>English</option>
        <option value="nld">Dutch</option>
        <option value="fra">French</option>
        <option value="ita">Italian</option>
        <option value="deu">German</option>
        <option value="por">Portuguese</option>
        <option value="spa">Spanish</option>
      </select>
    </div>
  </p>

  <p>
    <input type="submit" value="Submit" class="btn btn-primary">
  </p>
</form>

<hr>

<% unless @text.nil? %>
  <h2 class="my-3">Text</h2>

  <ul class="mb-3 list-group">
    <% @text.split("\n\n").each do |line| %>
      <li class="list-group-item"><%= line %></li>
    <% end %>
  </ul>
<% end %>
